<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="ParallelExecution" parallel="tests">

	<test name="Chrome Test1">
		<classes>
			<class name="trial.PrintData" />
		</classes>
	</test>


	<test name="Chrome Test2">
		<classes>
			<class name="trial.PrintData1" />
		</classes>
	</test>


	<test name="Chrome Test3">
		<classes>
			<class name="trial.PrintData2" />
		</classes>
	</test>

</suite>